{% extends 'myblog/blog_list.html' %}

{% block content %}
     <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                    {% if post.user == request.user %}
                    <a href="{% url 'edit_blog' post.id %}" class="btn btn-secondary">Edit</a>
                    <form action="{% url 'delete_blog' post.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                {% endif %}
                <small>by {{ post.user.username }}</small>
                <small>{{ post.created_at }} </small>
            </div>
{% endblock %}